<html lang=pl>
	<head>
		<link rel="stylesheet" href="main.css">
		<title>POSTI.WORKSHOP</title>
	</head>

	<body>
		<p>Coming Soon! #TODO - Hostname is  {{ ansible_hostname }} and IP adresses are {{ ansible_all_ipv4_addresses[0] }}   {{ ansible_all_ipv4_addresses[1] }} </p>
	</body>
</html>
